.about {
  font-family: "DM Sans", Helvetica, Arial, sans-serif;
  padding: 10vh 10vw;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.about-content {
  margin: 0 auto;
  position: static;
  width: 80%;
}

.about h2 {
  color: rgb(0, 102, 255);
  font-size: 3rem;
}

.about p {
  font-size: 1.15rem;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

#laptop-icon {
  position: 150;
}

@media only screen and (max-height: 823px) and (max-width: 767px) {
  #laptop-icon {
    display: none;
  }

  .about-content {
    width: 100%;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0;
  }
}

@media only screen and (min-height: 667px) {
  #laptop-icon {
    display: block;
    max-width: 80%;
    width: 250px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .about {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 15vh 10vw;
  }

  .about-content {
    width: 80%;
  }

  #laptop-icon {
    position: relative;
    margin: 0 auto;
    width: 375px;
    top: -20px;
  }

  .about h2 {
    font-size: 3em;
  }

  .about p {
    font-size: 1.2rem;
    font-weight: 100;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1440px) {
  .about-content {
    max-width: 70%;
  }

  .about h2 {
    font-size: 4rem;
  }

  .about p {
    font-size: 1.5rem;
  }
}
