html,
body {
  margin: 0;
  height: 100%;
}

body * {
  box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.App {
  text-align: center;
}

.hidden {
  display: none;
}
