.mockup {
  width: 550px;
  display: inline-block;
}

.project {
  position: relative;
  height: 120vh;
  padding: 10vh 0vw;
}

.content {
  display: inline-block;
  width: 500px;
  position: relative;
  top: -50px;
}

.project-title {
  font-size: 3rem;
  margin: 5px auto;
}

.content p {
  font-size: 1.15rem;
}

.project-btn {
  height: 50px;
  width: 100px;
  margin: 0 5px;
  font-size: 1.25rem;
  color: white;
  background-color: rgb(0, 102, 255);
  border-radius: 7px;
  border: none;
}

.project-btn:hover {
  color: rgb(0, 102, 255);
  background-color: white;
}

#img-Flex {
  position: relative;
  top: -100px;
  display: block;
}

#img-Weekly {
  width: 400px;
  position: relative;
  top: -40px;
  left: 20px;
  display: block;
}

#img-1hike2beer {
  position: relative;
  top: -250px;
  left: -25vw;
  display: block;
}

@media only screen and (max-height: 823px) and (max-width: 767px) {
  .project {
    font-family: "DM Sans", Helvetica, Arial, sans-serif;
    height: 100%;
    padding: 0;
  }

  .project-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 30px 0 15px 0;
  }

  .mockup {
    width: 100%;
  }

  .content {
    padding: 0 5vh 10vw 5vh;
    width: 100%;
  }

  .content p {
    font-size: 0.8rem;
    font-weight: 100;
  }

  .project-btn {
    height: 40px;
    width: 100px;
    margin: 0 5px;
    font-size: 1rem;
    font-weight: 800;
  }

  #Flex {
    margin-top: 15vh;
  }

  #img-Flex {
    display: none;
  }

  #Weekly .content {
    top: -50px;
  }

  #img-Weekly {
    display: none;
  }

  #beer {
    padding: 33vh;
  }

  #img-1hike2beer {
    display: none;
  }
}

@media only screen and (max-height: 667px) {
  #Flex {
    margin-top: 20vh;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .mockup {
    width: 400px;
    display: inline-block;
    position: absolute;
    left: -10px;
  }

  .content {
    left: 145px;
    margin: 0 auto;
    width: 50%;
    top: 10px;
  }

  .content p {
    font-size: 0.9rem;
  }

  #img-Flex {
    top: 30px;
    display: block;
    margin: 0 auto;
  }

  #img-Weekly {
    width: 375px;
    left: 23vw;
    top: 80px;
    display: block;
  }

  #beer {
    padding: 33vh;
  }

  #img-1hike2beer {
    top: -40px;
    left: 0;
    display: block;
    width: 450px;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .mockup {
    width: 500px;
    position: relative;
    left: -5vw;
  }

  .content {
    left: -8vw;
  }

  #img-Flex {
    top: -80px;
    left: 100px;
  }

  #img-Weekly {
    top: -20px;
    left: 200px;
  }

  #img-1hike2beer {
    top: -180px;
    left: 80px;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .mockup {
    position: absolute;
    width: 550px;
  }

  .project-title {
    font-size: 4rem;
  }

  .content {
    left: 15vw;
    top: -1vh;
  }

  .content p {
    font-size: 1.5rem;
  }

  #img-Flex {
    width: 500px;
    left: -150px;
  }

  #img-Weekly {
    width: 450px;
    top: 10px;
  }

  #img-1hike2beer {
    width: 500px;
  }
}

@media only screen and (min-width: 1025px) and (min-height: 1367px) {
  .mockup {
    width: 600px;
    left: 1vw;
  }

  .project-title {
    font-size: 4rem;
  }

  .content {
    width: 50%;
    top: -8vh;
    left: 1vw;
  }

  .content p {
    font-size: 1.5rem;
  }

  #img-Flex {
    width: 600px;
    bottom: 250px;
    left: -1vw;
  }

  #img-Weekly {
    width: 450px;
    left: 30vw;
  }

  #img-1hike2beer {
    width: 600px;
    left: 20vw;
    top: -8vh;
  }
}
